web/nodered/nodeRedFlow.txt
[{"id":"cb17b798.1eede8","type":"mqtt in","z":"e7acdcf6.1f932","name":"scale","topic":"scale","qos":"2","broker":"ea5e6053.015108","x":270.5,"y":175,"wires":[["4d68bbe4.5b0cb4"]]},{"id":"aa2fdefb.c2eeb","type":"debug","z":"e7acdcf6.1f932","name":"","active":true,"console":"false","complete":"false","x":729.5,"y":96,"wires":[]},{"id":"61ae9b9b.50e804","type":"file","z":"e7acdcf6.1f932","name":"AppendToFile","filename":"linkToYour data.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":750,"y":207,"wires":[]},{"id":"4d68bbe4.5b0cb4","type":"function","z":"e7acdcf6.1f932","name":"ParseData","func":"var weight = parseFloat(msg.payload);\n\n\nmsg.payload = 'User,' +  weight.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":201,"wires":[["aa2fdefb.c2eeb","61ae9b9b.50e804"]]},{"id":"ea5e6053.015108","type":"mqtt-broker","z":"","broker":"your_ip","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
